config/routes/basketry_example_v1.rb linguist-generated=true
app/controllers/basketry_example/gizmos_controller.rb linguist-generated=true
app/controllers/basketry_example/widgets_controller.rb linguist-generated=true
app/controllers/basketry_example/exhaustives_controller.rb linguist-generated=true
app/controllers/basketry_example/auth_permutations_controller.rb linguist-generated=true
app/controllers/basketry_example/controller_helpers.rb linguist-generated=true
